In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import sqlite3
from sqlalchemy import Column, Integer, String, Float

In [2]:
measurement = pd.read_csv("clean_measurements.csv")
station = pd.read_csv("clean_stations.csv")
measurement.drop("Unnamed: 0", axis=1, inplace=True)
station.drop("Unnamed: 0", axis=1, inplace=True)

In [3]:
station.head()

,id,station,name,latitude,longitude,elevation,location
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168)
1,2,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6,POINT(21.4234 -157.8015)
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0,POINT(21.5213 -157.8374)
3,4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9,POINT(21.3934 -157.9751)
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6,POINT(21.4992 -158.0111)

In [ ]:
measurement.groupby(measurement["station"])

In [5]:
Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'Measurements'
    index = Column(Integer)
    ID = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(String(255))
    tobs = Column(String(255))
class Station(Base):
    __tablename__= 'Stations'
    index = Column(Integer)
    ID = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(String(255))
    longitude = Column(String(255))
    elevation = Column(String(255))
    location = Column(String(255))
    

engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

Base.metadata.create_all(engine)

from sqlalchemy.orm import Session
session = Session(bind=engine)

In [6]:
measurement.to_sql("Measurements",conn,if_exists="append")
station.to_sql("Stations",conn,if_exists="append")